.flex {
	display: flex;
}
.flex-inline {
	display: inline-flex;
}

.grid {
	display: grid;
}
.grid-inline {
	display: inline-grid;
}
.grid.subgrid {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
}

.column {
	flex-direction: column;
}
.column-reverse {
	flex-direction: column-reverse;
}

.row {
	flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}

.wrap {
	flex-wrap: wrap;
}

.axis-main-flex-start {
	justify-content: flex-start;
}
.axis-main-center {
	justify-content: center;
}
.axis-main-flex-end {
	justify-content: flex-end;
}
.axis-main-space-between {
	justify-content: space-between;
}
.axis-cross-flex-start {
	justify-content: flex-start;
}
.axis-cross-center {
	align-items: center;
}
.axis-cross-flex-end {
	align-items: flex-end;
}
.axis-cross-stretch {
	align-items: stretch;
}
.axis-cross-baseline {
	align-items: baseline;
}

.wrap-flex-start {
	align-content: flex-start;
}
.wrap-center {
	align-content: center;
}
.wrap-flex-end {
	align-content: flex-end;
}
.wrap-stretch {
	align-content: stretch;
}
.wrap-baseline {
	align-content: baseline;
}
.wrap-space-between {
	align-content: space-between;
}

.gap-tiny {
	gap: 0.1rem;
}
.gap-small {
	gap: 0.5rem;
}
.gap-medium {
	gap: 1rem;
}
.gap-large {
	gap: 2rem;
}
.gap-huge {
	gap: 4rem;
}
.gap-inherit {
	gap: inherit;
}

.padding-tiny {
	padding: 0.1rem;
}
.padding-small {
	padding: 0.5rem;
}
.padding-medium {
	padding: 1rem;
}
.padding-large {
	padding: 2rem;
}
.padding-huge {
	padding: 4rem;
}
.padding-inherit {
	padding: inherit;
}

.position-static {
	position: static;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.position-fixed {
	position: fixed;
}
.position-sticky {
	position: sticky;
}

.overflow-visible {
	overflow: visible;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-clip {
	overflow: clip;
}
.overflow-scroll {
	overflow: scroll;
}
.overflow-auto {
	overflow: auto;
}

.overflow-x-visible {
	overflow-x: visible;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-x-clip {
	overflow-x: clip;
}
.overflow-x-scroll {
	overflow-x: scroll;
}
.overflow-x-auto {
	overflow-x: auto;
}

.overflow-y-visible {
	overflow-y: visible;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.overflow-y-clip {
	overflow-y: clip;
}
.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-y-auto {
	overflow-y: auto;
}
