.track {
	margin-top: "4px";
	border-left: 8px solid var(--color);
	position: relative;
	height: 4rem;
	background: repeating-linear-gradient(
		90deg,
		var(--grey),
		var(--grey) calc(var(--pixels-per-bar) - 1px),
		var(--darker-grey) var(--pixels-per-bar),
		var(--grey) var(--pixels-per-bar)
	);
}
