.tracks {
	position: relative;
}

.timeline {
	height: 16px;
	background: var(--darker-grey);
	position: relative;
	cursor: pointer;
}

.tracks-spacer {
	height: 16px;
}

.timeline .timeline-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: black;
	position: absolute;
	transform: translateX(-50%);
	transition: transform 0.1s ease;
	z-index: 2;
}

.timeline-left-offset {
	background: #646464;
}

.timeline .timeline-thumb:hover {
	transform: translateX(-50%) scale(1.5);
}

.timeline-cursor {
	pointer-events: none;
	position: absolute;
	width: 2px;
	background: black;
	top: 0;
	bottom: 0;
	z-index: 1;
}
